<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="./mousetrap.js"></script>
    <script src="./hotkey.js"></script>
    <title>Demo Copy Grid</title>
    <style>
        .selected {
            background-color: azure;
        }

        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        td{
            padding: 8px 12px;
        }
    </style>
</head>

<body ng-app="myapp">
    <div ng-controller="HelloController">

        <div>
            data copied: {{copyData}}
        </div>
<div><table id="example"
    class="display"
    style="width:100%">
 <thead>
     <tr>
         <th>Name</th>
         <th>Position</th>
         <th>Office</th>
         <th>Age</th>
         <th>Start date</th>
         <th>Salary</th>
     </tr>
 </thead>
 <tbody>
     <tr ng-repeat="item in data" ng-click="selectRow($event)">
         <td ng-repeat="items in item">{{items}}</td>
     </tr>
 </tbody>
</table></div>
    </div>
    <script>
        angular.module("myapp", ['cfp.hotkeys'])

            .controller("HelloController", function ($scope, hotkeys) {
                $scope.data = [
                ['Tiger Nixon','System Architect','Edinburgh','61','2011/04/25','$320,800'],
                ['Garrett Winters','Accountant','Tokyo','63','2011/07/25','$170,750'],
                ['Ashton Cox','Junior Technical Author','San Francisco','66','2009/01/12','$86,000'],
                ['Cedric Kelly','Senior Javascript Developer','Edinburgh','22','2012/03/29','$433,060']
                ];
                $scope.copyData = {};
                

                $scope.selectRow = function (e) {
                    $(e.currentTarget).addClass('selected').siblings().removeClass('selected')
                }
                let comboCopy = 'ctrl+c';
                let comboPaste = 'ctrl+v';
                if (navigator.userAgentData.platform.indexOf('mac') >= 0) {
                    comboCopy = 'command+c'; 
                    comboPaste = 'command+v';
                }
                hotkeys.add({
                    combo: comboCopy,
                    callback: function () {
                        $scope.copyClipboard()
                    }
                });

                hotkeys.add({
                    combo: comboPaste,
                    callback: async function () {
                        const queryOpts = { name: 'clipboard-read', allowWithoutGesture: false };
                        const permissionStatus = await navigator.permissions.query(queryOpts);
                        let a = await navigator.clipboard.readText();
                        $scope.$apply(()=>{
                            $scope.data.push(a.split(";"))
                        })
                        // permissionStatus.onchange = () => {
                        //     console.log(permissionStatus.state);
                        // };
                    }
                });

                $scope.copyClipboard = function (e) {
                    var arrayResult = [];

                    var tdList = Array.prototype.slice.call(document.getElementsByClassName("selected")[0].getElementsByTagName('td'));
                    tdList.forEach(function logArrayElements(element, index, array) {
                        if (element.innerText && element.innerText != "undefined") {
                            arrayResult.unshift(element.innerText);
                        }
                    });
                    arrayResult = arrayResult.reverse();
                    try {
                        navigator.clipboard.writeText(arrayResult.join(";")).then(rec => {
                            $scope.$apply(()=>{
                                $scope.copyData = arrayResult.join(";")
                            })
                        });
                    } catch (err) {
                        console.error('Failed to copy: ', err);
                    }


                }
            });
    </script>
</body>

</html>